
.layout-wrapper {
    height: auto;
    width: 100vw;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: 20px [s] 1fr [e] 20px;
    grid-template-columns: 50px [s] 1fr [e] 50px;
}

.layout {
    grid-row: s/e;
    grid-column: s/e;

    max-width: 100%;

    display: grid;
    grid-template-rows: [nav-s] 50px [nav-e content-s] 1fr [content-e footer-s] 50px [foooter-e];
    grid-template-columns: [nav-s content-s footer-s] 1fr [nav-e content-e footer-e];

    &__nav {
        grid-row: nav-s/nav-e;
        grid-column: nav-s/nav-e;
        width: 100%;
    }
    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
        width: 100%;
        // min-width: 0;
    }
    &__footer {
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
    }
}

